@model InventoryManagementWeb.Models.Transaction

<html>
<head>
    <title>Detail Transaction</title>
</head>
<body>
    <h1>Detail transaction</h1>
    <p>Product ID: @Model.TransactionId</p>
    <p>Name: @Model.ProductId</p>
    <p>Stock Level: @Model.TransactionType</p>
    <p>Stock Level: @Model.Quantity</p>
    <p>Stock Level: @Model.Date</p>
</body>
</html>
